body {
    font-family: 'Roboto light', sans-serif;
}

.navbar {
    background-color: #28A745!important;
    font-weight: 700;
}

.tiendas{
    color:#707070;
    text-align: left;
    font-size: 16px;
}

.direccion{
    color: #707070;
    text-align: left;
    font-size: 13px;
}

footer {
    color: #707070;
}

.logo {
    width: 82px
}

/* Contacto */

span{
    color: blue;
}